/* FORM CONTAINER */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-top: 150px;
}

#courseSearch {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#suggestions-container {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(100% - 20px); /* match width of search bar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    margin-top: 5px;
    border-radius: 5px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.label-title {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type=range] {
    flex-grow: 1;
    margin: 0 10px;
    accent-color: #007bff;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: #0056b3;
}

.perc-value {
    color: #007bff;
}